a{
font-family: 'Carter One', cursive;
font-family: 'Roboto Condensed', sans-serif;
}
body{
    background: rgb(12,12,12);
    background: -moz-radial-gradient(circle, rgba(12,12,12,1) 0%, rgba(22,0,0,1) 81%, rgba(1,0,7,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(12,12,12,1) 0%, rgba(22,0,0,1) 81%, rgba(1,0,7,1) 100%);
    background: radial-gradient(circle, rgba(12,12,12,1) 0%, rgba(22,0,0,1) 81%, rgba(1,0,7,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0c0c0c",endColorstr="#010007",GradientType=1);
}